@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* main  gradient style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#0080ff34;
}
#demotext {
    color: #ffffff;
    text-shadow: -5px 5px 0px #00ce60, -8px 8px 0px #00c55c;
    color: #ffffff;
    }
/* button style  */
.btn-style{
    background-color: #00ce60;
    color:rgb(255, 255, 255);
}
/* search input responsive design here */ 
.search-part{
    width: 600px;
}
@media screen and (max-width: 600px) {
    .search-part{
        width: 360px;
    }
    .card{
        margin: auto;

    }
}
    