/* main  gradient style  */
body{
    background-color:#0080ff1e;
}
/* button style  */
.btn-style{
    background-color: #00ce60;
    color:rgb(255, 255, 255);
}
/* search input responsive design here */ 
.search-part{
    width: 600px;
}
@media screen and (max-width: 600px) {
    .search-part{
        width: 360px;
    }
    .card{
        margin: auto;

    }
}
    